/* ********* */
/* UTILITIES */
/* ********* */

ul.minimal-list {
	list-style : none;
	margin : 0;
	padding : 0;
}

ul.horizontal-list li {
	display: inline-block;
}

.radio + label {
	line-height : normal !important;
}

.item-center {
	margin-left : auto;
	margin-right : auto;
}


.uppercase {
	text-transform : uppercase;
}

.capitalize : {
	text-transform : capitalize;
}

.full-height {
	height : 100%;
}

.full-width {
	width : 100%;
}

.row.vertically-centered-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
	align-items: center;
}
/*.row.vertically-centered-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/

.inline-block {
	display : inline-block;
}

.block {
	display : block;
}

.margin-center {
	margin : 0 auto;
	display : block;
}

.nowrap {
	white-space : nowrap;
}

.pointer {
	cursor : pointer;
}

.very-light-grey {
	color : #efefef;
}

.very-very-light-grey {
	color : #f7f7f7;
}

.bold {
	font-weight : bold;
}

.position-relative {
	position : relative;
}

.padding-none {
	padding : 0;
}

.margin-none {
	margin : 0;
}

.margin-bottom-none {
	margin-bottom : 0;
}

.margin-left-none {
	margin-left : 0;
}

.margin-right-none {
	margin-right : 0;
}

.margin-top-none {
	margin-top : 0;
}

.margin-right-xxs {
	margin-right : 3px;
}

.margin-left-xxs {
	margin-left : 3px;
}

.margin-top-xs {
	margin-top : 5px;
}

.margin-right-xs {
	margin-right : 5px;
}

.margin-bottom-xs {
	margin-bottom : 5px;
}

.margin-left-xs {
	margin-left : 5px;
}

.margin-top-sm {
	margin-top : 10px;
}

.margin-right-sm {
	margin-right : 10px;
}

.margin-bottom-sm {
	margin-bottom : 10px;
}

.margin-left-sm {
	margin-left : 10px;
}

.margin-top-md {
	margin-top : 15px;
}

.margin-right-md {
	margin-right : 15px;
}

.margin-bottom-md {
	margin-bottom : 15px;
}

.margin-left-md {
	margin-left : 15px;
}

.margin-top-lg {
	margin-top : 20px;
}

.margin-right-lg {
	margin-right : 20px;
}

.margin-bottom-lg {
	margin-bottom : 20px;
}

.margin-left-lg {
	margin-left : 20px;
}

.margin-top-xl {
	margin-top : 30px;
}

.margin-right-xl {
	margin-right : 30px;
}

.margin-bottom-xl {
	margin-bottom : 30px;
}

.margin-left-xl {
	margin-left : 30px;
}

.margin-top-xxl {
	margin-top : 40px;
}

.margin-bottom-xxl {
	margin-bottom : 40px;
}

.padding-xs {
	padding : 3px;
}

.padding-sm {
	padding : 5px;
}

.padding-md {
	padding : 10px !important;
}

.padding-lg {
	padding : 15px;
}

.padding-xl {
	padding : 20px;
}

.padding-top-xl {
	padding-top : 30px;
}

.padding-right-none {
	padding-right : 0;
}

.uppercase {
	text-transform : uppercase;
}

.font-xxxs {
	font-size : 0.7em;
}

.font-xxs {
	font-size : 0.8em;
}

.font-xs {
	font-size : 0.85em;
}

.font-sm {
	font-size : 0.9em;
}

.font-md {
	font-size : 1.2em;
}

.font-lg {
	font-size : 1.3em;
}

.font-xl {
	font-size : 1.5em;
}

.font-xxl {
	font-size : 2em;
}

.font-xxxl {
	font-size : 3em;
}

.font-xxxxl {
	font-size : 4em;
}

.padding-xxl {
	padding : 30px;
}

.padding-xxxl {
	padding : 40px;
}

.noliststyle {
	list-style : none;
}

.globalorders-list li {
	border : 1px solid #efefef;
	border-radius : 5px;
	padding : 12px;
}

.globalorders-list-item {
	cursor : pointer;
}

.globalorders-list-item:hover {
	background : #d7d7d7;
}

.login-link-text, .login-close-text, #signup-link {
	display: none;
}

.create-globalorder {
	margin-top : 20px;
}

.type-list-item .bump-left:hover, .type-list-item .bump-right:hover {
	color : orange;
}

.remove-item {
	color : #999;
}

.remove-item:hover {
	color : #c9302c;
}

.orders-table-container table > tbody > tr {
	cursor : pointer;
}

table.order-items-table tr.removed > td {
	text-decoration : line-through;
}

.products-name-list-container {
	position : relative;
}

.products-name-list {
	position : absolute;
	width : 100%;
	z-index : 1000;
}

.products-name-list li {
	cursor : pointer;
	padding : 0;
}

.products-name-list li:hover {
	background : #efefef;
}

.products-name-list-item {
	padding : 10px 15px;
	display : block;
}

.table>tr.danger>td {
    background-color: #f2dede;
}

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.dataTables_processing {
	display : none !important;
}

.dropdown-static {
	padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

table td.vertical-center {
	vertical-align : middle !important;
}

table.table-pointer > tbody > tr {
	cursor : pointer;
}

.close-detail {
	position : absolute;
	top : -25px;
	right : 25px;
	cursor : pointer;
}

li.hover-shadow:hover {
	background : #efefef;
}

footer.footer-menu {
	position:fixed;
	bottom : 0;
	left :0;
	width : 100%;
}

footer .footer-menu-hidden {
	display : none;
}

footer .footer-menu-show {
	background : #efefef;
}

footer .footer-menu-show .footer-menu-hidden {
	display : block;
}

.breadcrumb > li.no-breadcrumb:before {
	content : none !important;
}

fieldset.framed {
	border: 1px solid #efefef !important;
	border-radius: 5px;
	padding: 20px 20px 5px 20px !important;
}

fieldset.framed > legend {
	width: auto;
	border: 0;
	color: #999;
	font-size: 1.1em;
	margin-bottom: 5px;
	padding: 0 10px;
}

/* checkbox widget */

.icon-checkbox input {
  display: none;
}

.icon-checkbox .icon {
  text-align: center;
  display: inline-block;
}

.icon-checkbox .icon .glyphicon-ok {
  visibility: hidden;
}

.icon-checkbox input:checked + .icon .glyphicon-ok {
  visibility: visible;
}

.icon-checkbox {
  /* prevent accidental selection when clicking */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.icon-checkbox label {
  cursor: pointer;
}


/* Checkbox styling */

.icon-checkbox input {
    margin: 0 .1em; /* Use something similar to .icon */
}

.icon-checkbox .icon {
    background: #fcf4d2;
    border: 1px solid;
    border-color: #cac3a8 #f9f0c2 #f9f0c2 #cac3a8;
    border-radius: .3em;
    text-align: center;
    color: #666;
    margin: 0 .1em;
    height: 1.5em;
    width: 1.4em;
    padding: 0.15em;
    line-height: 1.1em;
    /**
     * Values for height, width and line-height
     * may need to be adjusted depending on your font.
     */
}

.price-reduced {
	text-decoration: line-through;
	color : #999;
}

.badge-sm {
	display: inline-block;
    padding: 1px 4px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #777;
    border-radius: 7px;
}

.donut-chart-frais .ct-series.ct-series-a .ct-slice-donut {
	stroke : #337ab7;
}

.donut-chart-sec .ct-series.ct-series-a .ct-slice-donut {
	stroke : #5cb85c;
}

.donut-chart-frais .ct-label {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 30px;
}

.donut-chart-sec .ct-label {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 30px;
}

.hover-shadow:hover {
	background : #efefef;
}

.line-height-lg {
	line-height :34px;
}

.dispatch-done {
	background : #efefef;
}

.dispatch-multiple {
	background : #fcf8e3;
}

#connection-lost-banner {
	position: fixed;
	z-index: 2000;
	text-align: center;
	vertical-align: baseline;
	width: 100%;
	top: 0;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 0px;
}

.breadcrumb.button-right > li {
	line-height : 35px;
}

.breadcrumb.button-right > li:last-child {
	line-height : inherit;
}

.breadcrumb.button-right > li:last-child:before {
	content : none !important;
}

.breadcrumb.button-right .dropdown .dropdown-toggle, .breadcrumb.button-right .button-right-button {
	margin : -10px;
}

.breadcrumb.button-right .dropdown ul.dropdown-menu {
	margin-top: 10px;
    margin-right: -10px;
}

.breadcrumb.button-right .dropdown ul.dropdown-menu > li > a {
	padding: 12px 20px;
	font-size : 18px;
}

.status-container {
	min-height: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 18px;
    display: inline-block;
}

.status-container.status-container-default {
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.status-container.status-container-warning {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.status-container.status-container-danger {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.status-container.status-container-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.status-container.status-container-success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.status-container.status-container-sm {
	font-size: 14px;
	padding: 3px 7px;
}

.needs-update {
	background-color: #fcf8e3;
}

.multi-column-list-container
{
    -moz-column-width: 15em; /* Firefox */
    -webkit-column-width: 15em; /* webkit, Safari, Chrome */
    column-width: 15em;
}
/*remove standard list and bullet formatting from ul*/
.multi-column-list-container ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.multi-column-list-container ul li:first-child
{
    margin-top:0px;
}

.italic {
	font-style : italic;
}

.dropdown.dropdown-fullwidth {
	width : 100%;
}

.dropdown.dropdown-fullwidth > button {
	width : 100%;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-group-lg.btn-group-fullwidth > ul.dropdown-menu, .dropdown.dropdown-fullwidth > ul.dropdown-menu {
	width : 100%;
}

.btn-group-lg > ul.dropdown-menu > li > a, .dropdown.dropdown-lg > ul.dropdown-menu > li > a {
	padding: 12px 20px;
	font-size : 18px;
}

.list-group-columns {
	-moz-column-width: 20em; /* Firefox */
  -webkit-column-width: 20em; /* webkit, Safari, Chrome */
  column-width: 20em;
}

.list-group-columns {
	margin:0;
	padding:0.5em 0.5em 0 0.5em;
	background:#ecf0f1;
}
.list-group-columns li {
	margin:0;
	list-style:none;
	-webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.list-group-columns li a {
	cursor:pointer;
	text-decoration:none;
	background:white;
	padding: 0.5em 0.75em;
  border-radius: 0.2em;
  margin-bottom: 0.5em;
	display: block;
}

.list-group-columns li a:hover {
	background: #337ab7;
  color: white;
}

.dropdown-menu.dropdown-menu-lg li a {
	font-size: 1.5em;
}

.dropdown-menu.dropdown-menu-block {
	width: 100%;
}

ul.order-sublist li {
	border-bottom: 1px solid #d3d3d3;
	padding:3px 0;
	font-size: 0.8em;
}

ul.order-sublist li:last-child {
	border-bottom:none;
}

.mark-arrived {
	color: #d3d3d3;
}

.mark-arrived:hover {
	color: #337ab7;
}

.accueil-consumers-present-list li.waiting a {
	background-color: #fcf8e3;
	color: #8a6d3b;
}
