<template name='boutiqueorder'>
	<div class='row margin-bottom-md'>
		<div class='col-xs-12'>
			<div class='clearfix' style='padding : 5px 10px; border : 1px solid #ddd; border-radius : 5px; background: #f9f9f9;'>
				<div class='row'>
					<div class='col-sm-6'>
						{{#if params.allowUpdate}}
							<div class='input-group input-group-lg'>
								<span class='input-group-addon'>@</span>
								<input class='form-control' id='email' />
							</div>
						{{else}}
							<span class='glyphicon glyphicon-user'></span> &nbsp;
							{{#if order.email}}
								<span class='font-lg' style='line-height : 46px;'>{{order.email}}</span>
							{{else}}
								<span class='text-muted font-lg' style='line-height :46px;'>Inconnu</span>
							{{/if}}
						{{/if}}
					</div>
					<div class='col-sm-6'>
						<div class='hidden-sm hidden-md hidden-lg margin-bottom-sm'></div>
						<div class='row'>
							<div class='col-xs-6 text-center'>
								<span class='font-xxl bold' style='line-height: 46px;'>{{unitsTotal}}</span>
							</div>
							<div class='col-xs-6 text-center font-xxl bold' style='line-height: 46px;'>
								{{#if order.paidAt}}
									<span class='glyphicon glyphicon-ok-sign' style='color : green; line-height :46px;'></span> &nbsp;
								{{else}}
									<span class='glyphicon glyphicon-flag' style='color : red;'></span> &nbsp;
								{{/if}}
								{{formatMoney amountTotal}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row margin-bottom-sm hidden-xs'>
		<div class='col-xs-12 font-xxs text-muted text-right'>
			Cr&eacute;&eacute; : {{formatDate order.createdAt 'ddd DD MMMM HH:mm'}}
			{{#if order.paidAt}}
				<br/>
				Pay&eacute;e : {{formatDate order.paidAt 'ddd DD MMMM HH:mm'}}
			{{/if}}
		</div>
	</div>
	<div class='row margin-bottom-md'>
		<div class='col-xs-6'>
			{{#if params.allowUpdate}}
				<button class='btn btn-default btn-lg btn-block add-product'>
		      		<span class='glyphicon glyphicon-plus'></span> &nbsp; Ajouter un produit
		      	</button>
		    {{/if}}
	    </div>
	    <div class='col-xs-6'>
			{{#if showPayment}}
				<button class='btn btn-lg btn-success accept-payment btn-block'>
					<span class='glyphicon glyphicon-euro'></span> &nbsp; Regler la commande
				</button>
			{{/if}}
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-12'>
			<table class='table table-bordered'>
				<thead>
					<tr>
						<th>
							Producteur
						</th>
						<th>
							Produit
						</th>
						<th style='text-align : center;' class='hidden-xs hidden-sm'>
							Prix
						</th>
						<th style='text-align : center;' class='hidden-xs hidden-sm'>
							Unit&eacute;
						</th>
						<th style='text-align : center; width : 40px;' >
							Qt&eacute;
						</th>
						<th style='text-align : center; width : 100px;'>
							Valeur
		        		</th>
					</tr>
				</thead>
				<tbody>
					{{#each orderItems}}
						{{>order_list_item}}
					{{else}}
						<tr><td colspan='6' class='text-muted text-center'>Aucun produit</td></tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>