<template name='boutiqueorder_list_item'>
	<tr>
		<td class='font-md vertical-center'>
			{{product_name}}
			<div class='hidden-sm hidden-md hidden-lg text-muted font-sm'>
				{{producer_name}}<br/>
				{{unit_display}}
			</div>
		</td>
		<td class='hidden-xs font-md vertical-center'>
			{{producer_name}}
		</td>
		<td class='hidden-xs font-md vertical-center text-center'>
			{{unit_display}}
		</td>
		<td class='text-center vertical-center'>
			{{#if params.allowUpdate}}
				<select id='quantity' class='form-control input-lg' style='font-size: 30px;height: 60px;line-height: 60px;'>
					<option value='0'>0</option>
					<option value='1' selected='{{#if $eq quantity 1}}selected{{/if}}'>1</option>
					<option value='2' selected='{{#if $eq quantity 2}}selected{{/if}}'>2</option>
					<option value='3' selected='{{#if $eq quantity 3}}selected{{/if}}'>3</option>
					<option value='4' selected='{{#if $eq quantity 4}}selected{{/if}}'>4</option>
					<option value='5' selected='{{#if $eq quantity 5}}selected{{/if}}'>5</option>
				</select>
			{{else}}
				<span class='font-xl bold hidden-xs'>{{quantity}}</span>
				<span class='font-xxxl bold hidden-sm hidden-md hidden-lg'>{{quantity}}</span>
			{{/if}}
		</td>
		<td class='hidden-xs vertical-center text-center font-xl bold'>
			<span class='nowrap'>{{formatMoney totalValue}}</span>
		</td>
	</tr>
</template>