<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body style='font-size : 13px;'>
		<div>
			<h1 style='text-align : right; font-size : 25px; margin-bottom : 20px; padding-bottom : 0px;'>
				<%= lastname %> <%= firstname %>
			</h1>
			<table style='width : 100%;'>
				<tbody>
					<tr>
						<td>Producteur</td>
						<td>Produit</td>
						<td style='text-align : center'>Prix</td>
						<td style='text-align : center'>Unité</td>
						<td style='text-align : center'>Qté</td>
						<td style='text-align : center'>Valeur</td>
					</tr>
					<% for(var i = 0; i < items.length; i++) { %>
						<tr style='page-break-inside:avoid'>
							<td style='padding : 2px; border: 1px solid #efefef;'>
								<%= items[i].producer_name %>
							</td>
							<td style='padding : 5px; border: 1px solid #efefef; font-weight : bold;'>
								<%= items[i].product_name %>
							</td>
							<td style='padding : 5px; border: 1px solid #efefef; text-align : center;'>
								<span style='white-space: nowrap'><%= items[i].unit_price %></span>
							</td>
							<td style='padding : 5px; border: 1px solid #efefef; text-align : center;'>
								<%= items[i].unit_display %>
							</td>
							<td style='padding : 5px; border: 1px solid #efefef; font-size : 1.1em; font-weight : bold; text-align : center;'>
								<%= items[i].quantity %>
							</td>
							<td style='padding : 5px; border: 1px solid #efefef; font-size : 1.1em; font-weight : bold; text-align : right;'>
								<span style='white-space: nowrap'><%= items[i].value %></span>
							</td>
						</tr>
					<% } %>
					<tr>
						<td colspan='5' align='right' style='padding : 8px; font-size : 1.3em; font-weight : bold'>
							<%= units_total %>
						</td>
						<td align='right' style='padding : 8px; '>
							<span style='font-size : 0.8em; color : #999'>Montant</span><br/>
							<span style='font-size : 1.5em; font-weight : bold; white-space : nowrap'><%= amount_total %></span>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<div style="page-break-before:always;">
				<div style='width : 50%; float : left;'>
					<h3>
						<%= lastname %> <%=firstname %>
					</h3>
					<div>
						<%= email %><br/>
						<%= telephone %>
					</div><br/>
					<div style='width : 50%; float : left'>
						Frais<br/>
						<div style='font-size : 25px;'><%=bacsFrais %></div>
					</div>
					<div style='width : 50%; float : left'>
						Sec<br/>
						<div style='font-size : 40px; font-weight : bold;'><%=bacsSec %></div>
					</div>
					<br style='clear : both' />
					<br/>
					<% if(nondispatch && nondispatch.length) { %>
						<h5>Non dispatch</h5>
						<ul>
							<% for (var j = 0; j<nondispatch.length; j++){ %>
								<li>
									<%= nondispatch[j] %>
								</li>
							<% } %>
						</ul>
					<% } %>
				</div>
				<div style='width : 50%; float : left;'>
					<h3 style='text-align : right;'>
						<%= distribution_date %>
					</h3>
				</div>
			</div>
		</div>
	</body>
</html>