<template name='loading_spinner'>
	<div class='text-center margin-top-lg margin-bottom-lg'>
    	<img src='{{addCdnPrefix "salade.svg"}}' class='margin-bottom-md' style='max-width : 500px;'/>
    	<h5>
      		Chargement...
    	</h5>
  	</div>
</template>