<template name='home'>

	{{#if Template.subscriptionsReady}}
		<div class='row margin-bottom-xl'>
			<div class='col-xs-12'>
				<h1 class='text-center'>
					{{ordersDeparted}} / {{ordersTotal}}
				</h1>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12'>
				<div class="btn-group btn-group-lg btn-group-fullwidth" style='width : 100%;'>
  					<button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    					Choisir un r&ocirc;le <span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu">
    					<li>
    						<a href='/accueil' class='text-center'>
    							<span class='glyphicon glyphicon-home'></span> &nbsp; Accueil
    						</a>
    					</li>
							<li>
    						<a href='/caisse' class='text-center'>
    							<span class='glyphicon glyphicon-euro'></span> &nbsp; Caisse
    						</a>
    					</li>
							<li>
    						<a href='/couloir' class='text-center'>
    							<span class='glyphicon glyphicon-apple'></span> &nbsp; Couloir
    						</a>
    					</li>
							<li>
    						<a href='/table' class='text-center'>
    							<span class='glyphicon glyphicon-record'></span> &nbsp; Guichet
    						</a>
    					</li>
    					<li>
    						<a href='/tasks' class='text-center'>
    							<span class='glyphicon glyphicon-list'></span> &nbsp; T&acirc;ches
    						</a>
    					</li>
  					</ul>
				</div>
			</div>
		</div>

	{{else}}
		{{>loading_spinner}}
	{{/if}}
</template>
