<template name='accueil_home'>

	<div class='row margin-bottom-sm margin-top-sm'>
		<div class='col-xs-12'>
			{{>accueil_home_consumers_present_list}}
		</div>
	</div>

	<div class='row margin-bottom-xxl'>
		<div class='col-xs-12'>
			{{> datatable
				params=datatableParams
				items=datatableItems
				filters=datatableFilters
			}}
		</div>
	</div>

</template>
