<template name='accueil_home_consumers_present_list'>
  <div class='panel panel-default'>
    <ul class='list-group-columns accueil-consumers-present-list'>
      {{#each consumersPresent}}
        <li class='{{#unless table}}waiting{{/unless}} clearfix'>
          <a class='clearfix'>
            <div class='pull-left'>
              {{uppercase lastname}} {{firstname}}
            </div>
            <div class='pull-right margin-left-sm'>
              {{#if table}}
                <span class='bold'>{{table}} / {{place}}</span>
              {{else}}
                <span class='italic'>Attente</span>
              {{/if}}
            </div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
