<template name='accueil_home_datatable_row'>
  <tr class='{{#if showAlert}}warning{{/if}}{{#if showLocale}}warning{{/if}}'>
    <td style='vertical-align:middle;'>
      <a href='/accueil/{{_id._str}}'>
        {{#if showAlert}}
          <span class='glyphicon glyphicon-{{showAlert.iconName}} text-{{showAlert.type}} margin-right-sm'></span>
        {{/if}}
        {{fullName}}
        {{#if showLocale}}
          <br/>
          <span class='label label-warning'>{{locale}}</span>
        {{/if}}
      </a>
    </td>
    <td style='vertical-align:middle;'>
      {{#if nondispatch.length}}
        <ul class='minimal-list order-sublist nondispatch-list pointer'>
          {{#each nondispatch}}
            <li>
              {{product_name}}
              {{#if $gt quantity 1}}<span class='badge'>{{quantity}}</span>{{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
      <div class='text-center'>
        <span class='glyphicon glyphicon-minus'></span>
      </div>
      {{/if}}
    </td>
    <td style='vertical-align:middle;'>
      {{#if missing.length}}
        <ul class='minimal-list order-sublist missing-list'>
          {{#each missing}}
            <li>
              {{product_name}}
              {{#if $gt quantity 1}}<span class='badge'>{{quantity}}</span>{{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class='text-center'>
          <span class='glyphicon glyphicon-minus'></span>
        </div>
      {{/if}}
    </td>
    <td class='text-center padding-md' style='vertical-align:middle;'>
      {{#unless arrivedAt}}
        <span class='glyphicon glyphicon-home mark-arrived font-xl pointer'></span>
      {{/unless}}
    </td>
  </tr>
</template>
