<template name='table_order'>
	{{#if Template.subscriptionsReady}}
		<div class='margin-bottom-xxl'>
			{{>order order=currentOrder params=params}}
		</div>
	{{else}}
		{{>loading_spinner}}
	{{/if}}
</template>
