<template name='accueil_table_list_item'>
	<tr class='{{#if justArrived}}success{{/if}}'>
		<td class='text-center'>
			<span class='badge'>{{alias}}</span>
		</td>
		<td class='pointer name-container'>
			<span class='uppercase'>{{lastname}}</span> {{firstname}}
		</td>
	</tr>
</template>
