<template name='accueil_waiting_list_item'>
	<tr class='waiting-list-item pointer'>
		<td class='text-center'>
			{{waitingTime}}
		</td>
		<td class='pointer name-container'>
			<span class='uppercase'>{{lastname}}</span> {{firstname}}
		</td>
	</tr>
</template>
