<template name='accueil_table'>
	<div class='col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel panel-heading capitalize margin-none bold'>
				{{getTableAlias table}}
			</div>
			<table class='table table-bordered'>
				<tbody>
					{{#each tabled}}
						{{>distribution_accueil_table_list_item}}
					{{else}}
						<tr>
							<td colspan='2'>Personne &agrave; la table</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>
