<template name='order_remove'>
	<div class='row'>
		<div class='col-sm-6'>
			<button class='btn btn-danger btn-sm remove-order' disabled='{{#if running}}disabled{{/if}}'>
				<span class='glyphicon glyphicon-remove'></span> &nbsp; 
				{{#if $eq order.status 0}}
					Supprimer 
				{{/if}}
				{{#if $gt order.status 0}}
					Annuler 
				{{/if}}
				la commande
			</button>
		</div>
	</div>
</template>