<template name='order_send_verification_email_modal'>
	<div class="modal fade" id='order_send_verification_email_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      	  	<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Renvoyer le mail de v&eacute;rification</h4>
	      	  	</div>
	      	  	<div class="modal-body clearfix">
	      	  		<div class='row'>
	      	  			<div class='col-xs-8 col-xs-offset-2'>
			      	  		<div class='form-group'>
			      	  			<label class='control-label'>Adresse mail</label>
			      	  			<input class='form-control' id='email' value={{order.email}} />
			      	  		</div>
			      	  	</div>
			      	</div>
	      	  	</div>
	      	  	<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	        		<button type="button" class="btn btn-primary validate">Valider</button>
	      	  	</div>
	    	</div>
	  	</div>
	</div>
</template>