<template name='caisse_home'>

	<div class='row margin-bottom-xxl'>
		<div class='col-xs-12'>
			{{> datatable
				params=datatableParams
				items=datatableItems
				filters=datatableFilters
			}}
		</div>
	</div>

</template>
