<template name='caisse_home_datatable_row'>
  <tr>
    <td class='vertical-center'>
      <a href='/caisse/{{_id._str}}'>
        {{#if showAlert}}
          <span class='glyphicon glyphicon-{{showAlert.iconName}} text-{{showAlert.type}} margin-right-sm'></span>
        {{/if}}
        {{fullName}}
        {{#if showLocale}}
          <br/>
          <span class='label label-warning'>{{locale}}</span>
        {{/if}}
      </a>
    </td>
    <td class='text-center vertical-center'>
      {{#if reduced.length}}
        <ul class='minimal-list order-sublist'>
          {{#each reduced}}
            <li>
              {{product_name}}
              {{#if $gt quantity 1}}<span class='badge'>{{quantity}}</span>{{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class='glyphicon glyphicon-minus'></span>
      {{/if}}
    </td>
    <td class='text-center vertical-center'>
      {{#if missing.length}}
        <ul class='minimal-list missing-list'>
          {{#each missing}}
            <li class='font-xxs missing-list-item'>
              {{product_name}}
              {{#if $gt quantity 1}}<span class='badge'>{{quantity}}</span>{{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class='glyphicon glyphicon-minus'></span>
      {{/if}}
    </td>
    <td class='text-center vertical-center font-md bold open-payment-window pointer' style='padding: 15px 0px;'>
      {{formatMoney amount_total}}
    </td>
  </tr>
</template>
