<template name="connectionBanner">
	{{#if wasConnected}}
		{{#if isDisconnected}}
			<div id="connection-lost-banner" class="alert alert-danger">
				<b>Connection perdue</b>
				&nbsp;&nbsp;
				Reconnection dans {{retryTimeSeconds}} secondes
				&nbsp;&nbsp;
				<a href="#" id="connection-try-reconnect" class="alert-link">
					<i class="glyphicon glyphicon-refresh"></i> {{tryReconnectText}}
				</a>
				{{#if failedReason}}
					<br>
					{{failedReason}}
				{{/if}}
			</div>
		{{/if}}
	{{/if}}
</template>