<template name='base_layout'>
	<header class=''>
		<ul class='nav nav-pills'>
			<li>
				<a style='padding : 5px;' href='/' class='company-logo'>
					<img src='/tomate.svg' class='img-responsive' style='height : 35px;'/>
				</a>
			</li>
			{{#if currentLocale}}
				<li class='navbar-text text-primary bold current-locale' style='margin-left : 15px;'>
					<span class='label label-info' style='font-size:1em;'>{{currentLocale.name}}</span>
				</li>
			{{/if}}
			{{#if currentGlobalOrder}}
				<li class='navbar-text text-primary bold pointer current-globalorder' style='margin-left : 15px;'>
					{{formatDate currentGlobalOrder.distribution_date "dddd DD MMMM YYYY"}}
				</li>
			{{/if}}
			{{#if currentUser}}
				<li class='pull-right'>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" style='margin : 3px 2px;'>
						<div style='white-space : nowrap'>
			      	<span class='hidden-xs'>
			      		{{currentUser.username}} &nbsp;
			      	</span>
			      	<span class='hidden-sm hidden-md hidden-lg'>
			      		<span class='glyphicon glyphicon-user'></span> &nbsp;
			      	</span>
			      	<span class="caret"></span>
						</div>
				    </a>
				    <ul class="dropdown-menu">
				     	<li>
				     		<a href="#" class='logout' style='padding : 6px 20px;'>
				     			<span class='glyphicon glyphicon-log-out'></span> &nbsp; D&eacute;connection
				     		</a>
				     	</li>
				    </ul>
				</li>
			{{/if}}
		</ul>
	</header>
	{{#if currentGlobalOrder}}
		<div class='row' style='height:5px;'>
			<div class='col-xs-12'>
				{{>distribution_progress}}
			</div>
		</div>
	{{/if}}
	<div style='width:100%;z-index:100;position:absolute;'>
		{{>alerts}}
	</div>
	<div class='container-fluid'>
		<div class='container'>
			{{>Template.dynamic template=view}}
		</div>
	</div>
	{{> meteorStatus style=true lang='fr' position='bottom' showLink=false textDisconnect='Connection perdue... prochain essaie dans %delay% s' textConnecting='Connection en cours...' overlay=false}}
</template>
