<template name='distribution_header'>

	<div class='row margin-bottom-xxl'>
		<div class='col-xs-12'>
			<div class='clearfix' style='padding : 5px 10px; border : 1px solid #ddd; border-radius : 5px;'>
				<div class='row'>
					<div class='col-xs-6'>
						<div class="progress margin-none" style='height : 30px;'>
						  	<div class="progress-bar" style="width : {{ordersDonePct}}%;"></div>
						  	<div class="progress-bar progress-bar-warning" style="width : {{ordersArrivedPct}}%;"></div>
						</div>
					</div>
					<div class='col-xs-6'>
						<select id='role' class='form-control input-sm'>
							<option selected disabled>CHOISIR UN ROLE</option>
							<option value='accueil' selected='{{#if $eq currentRole "accueil"}}selected{{/if}}'>ACCUEIL</option>
							<option value='caisse' selected='{{#if $eq currentRole "caisse"}}selected{{/if}}'>CAISSE</option>
							<option value='couloir_frais' selected='{{#if $eq currentRole "couloir_frais"}}selected{{/if}}'>COULOIR FRAIS</option>
							<option value='couloir_sec' selected='{{#if $eq currentRole "couloir_sec"}}selected{{/if}}'>COULOIR SEC</option>
							<option value='table_0' selected='{{#if $eq currentRole "table_0"}}selected{{/if}}'>
								TABLE {{getTableAlias 0}}
							</option>
							<option value='table_1' selected='{{#if $eq currentRole "table_1"}}selected{{/if}}'>
								TABLE {{getTableAlias 1}}
							</option>
							<!-- <option value='table_2' selected='{{#if $eq currentRole "table_2"}}selected{{/if}}'>TABLE 2</option> -->
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>