<template name='comments_modal'>
	<div class="modal fade" id='comments_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	    		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        			<span aria-hidden="true">&times;</span>
	        		</button>
	        		<h4 class="modal-title">
	        			<span class='glyphicon glyphicon-bullhorn'></span> &nbsp;
	      	  			Laisser une commentaire
	        		</h4>
	      	  	</div>
	      	  	<div class="modal-body clearfix">
								<form id='comments_form'>
	      	  		<div class='row margin-bottom-sm'>
	      	  			<div class='col-xs-12'>
	      	  				{{#if showPhoto}}
	      	  					<button type="button" class="close image pull-right">
				        			<span aria-hidden="true">
				        				<span class='glyphicon glyphicon-camera text-muted font-xl'></span>
				        			</span>
				        		</button>
										{{/if}}
			        			{{#if showSpeech}}
					        		<button type="button" class="close speak pull-right margin-right-md">
					        			<span aria-hidden="true">
					        				<span class='glyphicon glyphicon-volume-up text-muted font-xl'></span>
					        			</span>
					        		</button>
					        	{{/if}}
				        	<div class='pull-right margin-right-md'>
								<input type="file" id="upload" style="display: none;" />
								<label for="upload" style='    -webkit-appearance: none;
								    padding: 0;
								    cursor: pointer;
								    background: 0 0;
								    border: 0;
								    float: right;
								    font-weight: 700;
								    color: #000;
								    text-shadow: 0 1px 0 #fff;
								    filter: alpha(opacity=20);
								    opacity: .2;'>
									<span class='glyphicon glyphicon-upload font-xxl'></span>
								</label>
	      	  				</div>
	      	  			</div>
	      	  		</div>
	      	  		<div class='row'>
	      	  			<div class='col-xs-12 '>
	      	  				<div class='text-center full-width image-preview margin-bottom-sm' style='display: none; width: 100%; height: 300px; background: #efefef; border-radius: 5px;'>
	      	  					<img style="height: 100%; margin: 0 auto;" />
	      	  				</div>
	      	  			</div>
	      	  		</div>
								<div class='row margin-top-lg margin-bottom-lg'>
									<div class='col-xs-12'>
										<select class='form-control input-lg' id='type'>
											<option disabled selected>Choisir un type</option>
											{{#each commentTypes}}
												<option value="{{code}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
								</div>
		      	  	<div class='row'>
	      	  			<div class='col-xs-12'>
	      	  				<textarea class='form-control input-lg' rows="6" placeholder="Votre commentaire" id="comment"></textarea>
	      	  			</div>
	      	  		</div>
		      	  	{{#if allowValidation}}
		      	  		<div class='row margin-top-lg margin-bottom-xxl'>
		      	  			<div class='col-xs-12'>
		      	  				<button class="btn btn-primary btn-lg validate btn-block">
		      	  					<span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
		      	  				</button>
		      	  			</div>
		      	  		</div>
		      	  	{{/if}}
							</form>
	      	 </div>
	    	</div>
	  	</div>
	</div>
</template>
