<template name='globalorders'>
	<h1 class='text-center margin-bottom-xl'>Distributions</h1>
	<div class='row margin-bottom-sm'>
		<div class='col-xs-12 text-center'>
			{{#if locales.count}}
				{{#if selectedLocale}}
					<div class='well well-sm font-lg bold text-center selected-locale'>
						{{selectedLocale.name}}
					</div>
				{{else}}
					<div class="dropdown dropdown-fullwidth dropdown-lg">
	  					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    					Choisir un local &nbsp; <span class="caret"></span>
	  					</button>
						<ul class="dropdown-menu">
							{{#each locales}}
								<li>
									<a href="#" id='{{code}}' class='select-locale'>{{name}}</a>
								</li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			{{else}}
				<span class='font-lg text-muted'>Aucune globale en distribution</span>
			{{/if}}
		</div>
	</div>
	{{#if selectedLocale}}
		<div class='row margin-bottom-md'>
			<div class='col-xs-12'>
				{{#if selectedGlobalOrder}}
					<div class='well well-sm font-lg bold text-center selected-globalorder'>
						{{formatDate selectedGlobalOrder.distribution.[0].start "dddd DD MMMM"}}
					</div>
				{{else}}
					<div class="dropdown dropdown-fullwidth dropdown-lg">
	  					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    					Choisir une globale &nbsp; <span class="caret"></span>
	  					</button>
						<ul class="dropdown-menu">
							{{#each globalorderlocales}}
								<li>
									<a href="#" id='{{globalorder_id._str}}' class='select-globalorder'>
										{{distribution_date}}
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>
		{{#if selectedGlobalOrder}}
			<div class='row margin-bottom-xxl'>
				<div class='col-xs-12'>
					<button class='btn btn-lg btn-primary validate btn-block'>
						<span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
					</button>
				</div>
			</div>
		{{/if}}
	{{/if}}
</template>
