<template name='alerts'>
  	{{#each alerts}}
  		{{#if $eq type "success"}}
  			<div class='alert alert-success alert-dismissable text-center' id='{{_id}}'>
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      		<b>Succ&egrave;s !</b> &nbsp; {{message}}
	    	</div>
	    {{else}}
	    	<div class='alert alert-danger alert-dismissable text-center' id='{{_id}}'>
	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      		<b>Attention !</b> &nbsp; {{message}}
	    	</div>
	    {{/if}}
  	{{/each}}
</template>
