<template name='table_place'>
	<tr>
		<td class='text-center vertical-center' style='width:75px;'>
			<div class='bold font-xxl nowrap place-container pointer'>
				<span class='glyphicon glyphicon-record'></span> <span style='vertical-align: text-bottom;'>{{alias}}</span>
			</div>
		</td>
		<td class='vertical-center' style='position:relative;'>
			<a href='/table/{{order._id._str}}' style='color : inherit;' class='font-md'>
				<span class='uppercase'>{{order.lastname}}</span> {{order.firstname}}
			</a>
			{{#if hasExtraInfo}}
				<a href='#' class='show-extra-info font-md' style='position:absolute;top:2px;right:2px;'>
					<span class='glyphicon glyphicon-exclamation-sign'></span>
				</a>
			{{/if}}
		</td>
		<!-- <td>
			{{#if hasExtraInfo}}
				<a href='#' class='show-extra-info'>
					<span class='glyphicon glyphicon-warning-circle'></span>
				</a>
			{{/if}}
		</td> -->
		<td class='bold text-center vertical-center bacs-container-sec pointer' style='width:120px;'>
			<ul class='minimal-list'>
				{{#each order.getFraisBacs}}
					{{>table_place_bac}}
				{{else}}
					<li>
						<span class='glyphicon glyphicon-remove-circle font-xxl' style='color: #d3d3d3'></span>
					</li>
				{{/each}}
			</ul>
		</td>
		<td class='bold text-center vertical-center' style='width:120px;'>
			<ul class='minimal-list'>
				{{#each order.getSecBacs}}
					{{>table_place_bac}}
				{{else}}
					<li>
						<span class='glyphicon glyphicon-remove-circle font-xxl' style='color: #d3d3d3'></span>
					</li>
				{{/each}}
			</ul>
		</td>
	</tr>
</template>
<!--

	<li class='list-group-item'>
		<div class='row'>
			<div class='col-xs-4'>
				<div class='row'>
					<div class='col-xs-12'>
						<div class='bold font-xxxl nowrap place-container pointer'>
							<span class='glyphicon glyphicon-record'></span> <span style='vertical-align: text-bottom;'>{{alias}}</span>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-12'>
						<a href='/table/{{order._id._str}}' style='color : inherit;' class='font-md'>
							<span class='uppercase'>{{order.lastname}}</span> {{order.firstname}}
						</a>
					</div>
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='row'>
					<div class='col-xs-12 text-center'>

					</div>
				</div>
				{{#if showExtraInfo}}
					<hr style='margin-top:5px;margin-bottom:5px;'/>
					<div class='row margin-bottom-md'>
						<div class='col-xs-6'>
							{{#if order.nondispatch}}
								<div class='nondispatch-list text-center'>
									Nondispatch <span class='badge'>{{nondispatchUnits}}</span>
								</div>
							{{/if}}
						</div>
						<div class='col-xs-6'>
							{{#if missing}}
								<div class='missing-list text-center'>
									Manquant <span class='badge'>{{missingUnits}}</span>
								</div>
							{{/if}}
						</div>
					</div>
				{{/if}}
				<div class='row'>
					<div class='col-xs-6 font-xxl bold text-center {{#unless fraisDeliveredAt}}text-danger{{/unless}} bacs-container-frais pointer'>
						{{#each order.getFraisBacs}}
							{{#if this.isWaiting}}{{/if}}{{number}}
						{{else}}
							<span class='glyphicon glyphicon-remove-circle'></span>
						{{/each}}
					</div>
					<div class='col-xs-6 font-xxl bold text-center {{#unless secDeliveredAt}}text-danger{{/unless}} bacs-container-sec pointer'>
						{{#each order.getFraisBacs}}
							{{#if this.isWaiting}}{{/if}}{{number}}
						{{else}}
							<span class='glyphicon glyphicon-remove-circle'></span>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</li>
</template> -->
