<template name='table_place_bac'>
  <li class='pointer bac-number {{#unless deliveredAt}}text-danger{{/unless}}'>
    {{#if isWaiting}}
      <span class='glyphicon glyphicon-time'></span>
    {{/if}}
    <span class='font-xxl' style='vertical-align: middle;'>
      {{number}}
    </span>
  </li>
</template>
