<template name='table_home'>
	<div class='row margin-bottom-sm'>
		<div class='col-xs-12'>
			<div class='well well-sm clearfix'>
				<div class='row'>
					<div class='col-xs-1'>
						<span class='glyphicon glyphicon-asterisk font-xxxl'></span>
					</div>
					<div class='col-xs-11'>
						<select class='form-control input-lg' id='current_table'>
							{{#each tables}}
								<option value='{{number}}'>{{name}}</option>
							{{/each}}
						</select>
					</div>
					<!-- <div class='col-xs-6'>
						<button class='btn btn-sm btn-default force-table'>
							<span class='glyphicon glyphicon-warning-sign'></span> &nbsp;
							Force-tabler
						</button>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	{{#if Template.subscriptionsReady}}
		<div class='row'>
			<div class='col-xs-12'>
				<table class='table table-bordered'>
					<thead>
						<tr>
							<th>Place</th>
							<th>Commande</th>
							<th class='text-center'>Frais</th>
							<th class='text-center'>Sec</th>
						</tr>
					</thead>
					<tbody>
						{{#each places}}
							{{>table_place}}
						{{else}}
							<tr class=''>
								<td class='font-md text-muted italic'>
									Aucune place occup&eacute;e
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	{{else}}
		{{>loading_spinner}}
	{{/if}}
</template>
