<template name='confirm_modal'>
	<div class="modal fade" id='confirm_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      	  	<div class="modal-body clearfix">
	      	  		<div class='row margin-top-lg margin-bottom-xl'>
	      	  			<div class='col-xs-12 text-center text-danger'>
	      	  				<span class='glyphicon glyphicon-exclamation-sign' style='font-size : 90px;'></span>
	      	  			</div>
	      	  		</div>
	      	  		<div class='row margin-bottom-xxl'>
	      	  			<div class='col-xs-12 text-center font-lg'>
	      	  				{{text}}
	      	  			</div>
	      	  		</div>
	      	  		<div class='row'>
	      	  			<div class='col-xs-12'>
	      	  				<button class="btn btn-default pull-left" data-dismiss="modal">
	      	  					<span class='glyphicon glyphicon-remove'></span> &nbsp; Fermer
	      	  				</button>
	      	  				<button class="btn btn-danger pull-right validate">
	      	  					<span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
	      	  				</button>
	      	  			</div>
	      	  		</div>
	      	  	</div>
	    	</div>
	  	</div>
	</div>
</template>