<template name='caisse_boutiqueorders_detail'>

	<div class='row margin-bottom-md' style='margin-top : -20px;'>
		<div class='col-xs-12'>
			<div class='well well-sm bold font-lg' style='line-height : 30px;'>
				Commandes boutique
			</div>
		</div>
	</div>

	{{#if Template.subscriptionsReady}}

		{{>boutiqueorder params=params order=order}}

	{{else}}

		{{>loading_spinner}}

	{{/if}}
</template>
