<template name='caisse_boutiqueorders_new'>

	<div class='row margin-bottom-md' style='margin-top : -20px;'>
		<div class='col-xs-12'>
			<div class='well well-sm bold font-lg' style='line-height : 30px;'>
				Commandes boutique
			</div>
		</div>
	</div>

	{{#if currentOrder}}
		{{>boutiqueorder order=currentOrder params=params}}
	{{else}}
		{{>loading_spinner}}
	{{/if}}

</template>
