<template name='caisse_boutiqueorders'>

	<div class='row' style='margin-top : -20px;'>
		<div class='col-xs-12'>
			<div class='well well-sm bold font-lg' style='line-height : 30px;'>
				Commandes boutique
				<a href='/distribution/caisse/boutiqueorders/new' class='btn btn-sm btn-default pull-right'>
					<span class='glyphicon glyphicon-plus'></span> &nbsp; Cr&eacute;er une nouvelle
				</a>
			</div>
		</div>
	</div>

	<div class='row margin-bottom-xxl'>
		<div class='col-xs-12'>
			{{> tabular
				table=TabularTables.BoutiqueOrders
				selector=selector
				class="table table-striped table-hover table-bordered table-pointer"
			}}
		</div>
	</div>

</template>
