<template name='display_table_reduced'>
	{{#if removed}}
		<ul class='minimal-list font-xs'>
			{{#each reduced}}
				<li>
					{{product_name}} <span class='badge-sm' style='background : #d9534f'>{{quantity}}</span>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<span class='glyphicon glyphicon-minus text-muted'></span>
	{{/if}}
</template>