<template name='display_table_nondispatch'>
	{{#if nondispatch}}
		<ul class='minimal-list font-xs'>
			{{#each nondispatchList}}
				<li>
					{{product_name}}{{#if $gt quantity 1}}&nbsp; <span class='badge-sm'>{{quantity}}</span>{{/if}}
					{{#unless last}}<hr style='margin : 0.5em;' />{{/unless}}
				</li>
			{{/each}}
		</ul>
	{{else}}
		<span class='glyphicon glyphicon-minus text-muted'></span>
	{{/if}}
</template>