<template name='display_table_order_status'>
	{{#if showPaymentButton}}
		<button class='btn btn-default launch-pay-modal'>
			<span class='glyphicon glyphicon-euro'></span>
		</button>
	{{else}}
		<span class='glyphicon glyphicon-time text-warning'></span>
	{{/if}}
</template>