<template name='display_table_distribution_status'>
	{{#if $eq status 2}}
		<button class='btn btn-default btn-lg arrived' style='padding : 6px 15px 3px 15px; font-size : 22px;'>
			<span class='glyphicon glyphicon-log-in'></span>
			{{#unless hasPaid}}
				<span class='bold' style='color : red'>&euro;</span>
			{{/unless}}
		</button>
	{{/if}}
	{{#if $eq status 3}}
		<span style='font-size : 22px;'>
			{{#if hasSec}}<span class='bold'>S</span>{{/if}}
			{{#if hasFrais}}<span class='bold'>F</span>{{/if}}

			{{#unless hasPaid}}
				<span class='bold' style='color : red;'>&euro;</span>
			{{/unless}}
		</span>
	{{/if}}
	{{#if $eq status 4}}
		<span class='glyphicon glyphicon-ok' style='color : green; font-size : 22px;'></span>
	{{/if}}
</template>