<template name='display_table_lastname'>
	{{#if lastname}}
		<span class='uppercase'>{{lastname}}</span> {{firstname}}
	{{else}}
		<span class='glyphicon glyphicon-minus text-muted'></span>
	{{/if}}
</template>