<template name='tasks_home_list_item'>
	<li class='list-group-item'>
		<div class='row'>
			<div class='col-xs-9'>
				<div class='font-md bold'>{{name}}</div>
				<div class='font-xs text-muted'>{{description}}</div>
			</div>
			<div class='col-xs-3'>
				<div class='clearfix icon-checkbox font-xxl pull-right'>
				    <label>
				    	<input type="checkbox" value='true' class='done' checked='{{#if completedAt}}checked{{/if}}' disabled='{{#if validationDisabled}}disabled{{/if}}' />
						<span class="icon">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
				    </label>
				</div>
			</div>
		</div>
	</li>
</template>
