<template name='tasks_home'>

	{{#if Template.subscriptionsReady}}

		<div class='row margin-bottom-md'>
			<div class='col-xs-12'>
				<div class='well well-sm bold font-xl margin-none'>
					T&acirc;ches
				</div>
			</div>
		</div>
		<div class='row margin-bottom-xxl'>
			<div class='col-xs-12'>
				<ul class='list-group'>
					{{#each tasks}}
						{{>tasks_home_list_item}}
					{{else}}
						<li class='list-group-item text-muted'>Aucune t&acirc;che &agrave; afficher</li>
					{{/each}}
				</ul>
			</div>
		</div>

	{{else}}
		{{>loading_spinner}}
	{{/if}}
</template>
