<!-- LOGIN  -->

<template name='login'>
	<div class='container'>
		<div class='row margin-bottom-xl'>
			<div class='col-sm-6 col-sm-offset-3'>
				<h3>Connection &agrave; Kelbongoo Preparation</h3>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-6 col-sm-offset-3'>
				<form id='login'>
					<div class="form-group clearfix {{#if schema.keyIsInvalid 'username'}}has-error{{/if}}">
						<label for='username' class='control-label'>Identifiant</label>
						<input class='form-control input-lg' name='username' id='username' />
						{{#if schema.keyIsInvalid 'username'}}
							<span class="help-block">{{schema.keyErrorMessage 'username'}}</span>
						{{/if}}
					</div>
					<div class="form-group clearfix {{#if schema.keyIsInvalid 'password'}}has-error{{/if}}">
						<label for='password' class='control-label'>Mot de passe</label>
						<input type='password' class='form-control input-lg' name='password' id='password' />
						{{#if schema.keyIsInvalid 'password'}}
							<span class="help-block">{{schema.keyErrorMessage 'password'}}</span>
						{{/if}}
					</div>
					<div class='form-group clearfix'>
						<button class='btn btn-primary btn-lg btn-block validate'>
							<div class="{{#unless isLoading}}hidden spinner{{/unless}}" style='margin-right : 5px; position : relative;'></div>
							Valider
						</button>
					</div>
					<div class='form-group'>
						<div class='pull-right'><a href='/forgotpassword'>J'ai oubli&eacute; mon mot de passe</a></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>