<template name='datatable'>
  <div class='row margin-bottom-sm'>
    <div class='col-xs-12'>
      <div class='{{#if filters.length}}input-group input-group-lg{{/if}} {{#if filterActive}}has-error{{/if}}' style='width:100%;'>
        <input
          class='form-control input-lg'
          placeholder='Rechercher...'
          id='search'
        />
        {{#if filters.length}}
          <div class='input-group-btn' style='position:initial;'>
            <button class="btn btn-default clear-search">
              <span class='glyphicon glyphicon-remove'></span>
            </button>
            <button class="btn dropdown-toggle {{#if filterActive}}btn-danger{{else}}btn-default{{/if}}" data-toggle="dropdown">
              <span class='glyphicon glyphicon-cog'></span>
            </button>
            <ul class="filter-menu dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-block">
              {{#each filters}}
                <li>
                  <a href="#" class='datatable-filter text-center' data-filter='{{name}}'>
                    {{#if active}}
                      <span class='glyphicon glyphicon-ok margin-right-sm'></span>
                    {{/if}}
                    {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            {{#each columns}}
              <th class='{{#if classes}}{{classes}}{{/if}}' style='{{#if width}}width:{{width}}{{/if}}'>
                {{title}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each items}}
            {{>Template.dynamic template=../params.rowTemplateName data=this}}
          {{else}}
            <td colspan='{{columns.length}}' class='italic text-muted padding-sm text-center'>
              Aucun &eacute;l&eacute;ment &agrave; afficher
            </td>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
