<template name='couloir_bac_alerts'>
  {{#if bacsStranded}}
    <div class='alert alert-danger'>
      <div class='row'>
        <div class='col-xs-12'>
          <span class='glyphicon glyphicon-warning-sign'></span> &nbsp;
          Les bacs suivants sont en rade
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12'>
          <ul class='minimal-list minimal-list-horizontal'>
            {{#each bacsStranded}}
              {{>couloir_bac_alerts_item}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</template>
