<template name='couloir_home_restock_bac_modal'>
	<div class="modal fade" id='couloir_home_restock_bac_modal'>
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
				<div class='modal-header'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span class='font-xl bold'>
						Re-stocker un bac
					</span>
				</div>
				<div class="modal-body clearfix">
					<div class='row margin-bottom-md'>
						<div class='col-xs-12'>
              <input
								class='input-lg form-control'
								id='number'
								placeholder='Numéro de bac à re-stocker'
							/>
            </div>
					</div>
          <div class='row margin-bottom-md'>
						<div class='col-xs-12'>
              <button class='btn-lg btn-block btn btn-primary' disabled='{{#unless selectedBac}}disabled{{/unless}}'>
                <span class='glyphicon glyphicon-ok margin-right-sm'></span> Valider
              </button>
            </div>
					</div>
				</div>
      </div>
  	</div>
	</div>
</template>
