<template name='couloir_home'>
	<div class='row margin-bottom-sm'>
		<div class='clearfix' style='position:relative; margin-left: 15px; margin-right:15px;'>
			<div class='col-xs-6' style='padding-left:0px'>
				<select class='input-lg form-control' id='couloir'>
					<option value='0' selected='{{#if $eq currentCouloir 0}}selected{{/if}}'>Couloir FRAIS</option>
					<option value='1' selected='{{#if $eq currentCouloir 1}}selected{{/if}}'>Couloir SEC</option>
				</select>
			</div>
			<div class='col-xs-4'>
				<div class='btn-group btn-group-lg full-width'>
					<button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
						Max : {{currentMaxBacs}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
							<li class="{{#if $eq currentMaxBacs 4}}active{{/if}}">
								<a class='max-select' id='4'>4</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 5}}active{{/if}}">
								<a class='max-select' id='5'>5</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 6}}active{{/if}}">
								<a class='max-select' id='6'>6</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 7}}active{{/if}}">
								<a class='max-select' id='7'>7</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 8}}active{{/if}}">
								<a class='max-select' id='8'>8</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 9}}active{{/if}}">
								<a class='max-select' id='9'>9</a>
							</li>
							<li class="{{#if $eq currentMaxBacs 10}}active{{/if}}">
								<a class='max-select' id='10'>10</a>
							</li>
					</ul>
				</div>
			</div>
			<div class='col-xs-2' style='position:initial;padding-right:0px'>
				<button class="btn btn-default btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-cog"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-block" style='margin-top: 10px;'>
					<li>
						<a class='restock-bac text-center'>R&eacute;-stocker un bac</a>
					</li>
					<li class='divider'></li>
					<li>
						<a href="#" class='couloir-sort text-center' data-sort='arrival'>
							{{#if $eq currentSort 'arrival'}}
								<span class='glyphicon glyphicon-ok margin-right-sm'></span>
							{{/if}}
							Trier par arriv&eacute;e
						</a>
					</li>
					<li>
						<a href="#" class='couloir-sort text-center' data-sort='number'>
							{{#if $eq currentSort 'number'}}
								<span class='glyphicon glyphicon-ok margin-right-sm'></span>
							{{/if}}
							Trier par num&eacute;ro
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	{{#if Template.subscriptionsReady}}

		{{>couloir_bac_alerts bacsStranded=bacsStranded}}

		{{#if showPlaces}}

			{{>couloir_tables
				bacsToDeliver=bacsToDeliver
				toggleShowPlaces=toggleShowPlaces
			}}

		{{else}}

			{{>couloir_bacs
				bacsToPickup=bacsToPickup
				toggleShowPlaces=toggleShowPlaces
			}}

		{{/if}}
	{{else}}
		{{>loading_spinner}}
	{{/if}}

</template>
