<template name='distribution_progress'>
	<div class="progress" style='height:5px;'>
	  	<div class="progress-bar progress-bar-success" style="width : {{ordersDonePct}}%;"></div>
		<div class="progress-bar progress-bar-warning" style="width : {{ordersArrivedPct}}%;"></div>
	</div>
</template>
