<template name='couloir_tables_order'>
	<li class='list-group-item' style='{{#if delivered}}background : #dff0d8;{{/if}}'>
		<div class='row'>
			<div class='col-xs-4 text-left place-container pointer'>
				<div class='bold font-xxxl nowrap'>
					{{#if $exists place}}
						<span class='glyphicon glyphicon-record'></span>
						<span style='vertical-align: text-bottom;'>{{place}}</span>
					{{else}}
						<span class='glyphicon glyphicon-time'></span>
					{{/if}}
				</div>
			</div>
			<div class='col-xs-8 text-right'>
				<div class='bold font-xxxl'>
					{{#if bacNumbers}}
						{{bacNumbers}}
					{{else}}
						<span class='glyphicon glyphicon-remove text-muted'></span>
					{{/if}}
				</div>
				<a class='text-muted font-sm' href='/distribution/couloir/{{_id._str}}'>
					<span class='uppercase'>{{lastname}}</span> {{firstname}}
				</a>
			</div>
		</div>
		{{#if nondispatch}}
			<hr/>
			<div class='row'>
				<div class='col-xs-12'>
					<ul class='minimal-list font-xs'>
						{{#each nondispatch}}
							<li>
								{{product_name}} ({{producer_name}}) <span class='badge'>{{quantity}}</span>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/if}}
	</li>
</template>
