<template name='couloir_tables'>
  <div class='row margin-bottom-lg'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        {{#each bacsToDeliver}}
          {{>couloir_tables_bacs_item}}
        {{else}}
          <li class='list-group-item'>
            <span class='italic text-muted'>Aucun bac &agrave; livrer</span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{#if bacsToDeliver.length}}
    <div class='row margin-bottom-lg'>
      <div class='col-xs-12'>
        <button class='btn btn-lg btn-block btn-primary validate-delivery'>
          <span class='glyphicon glyphicon-ok'></span> &nbsp;
            Marquer les bacs livr&eacute;s
        </button>
      </div>
    </div>
  {{/if}}
</template>
