<template name='couloir_tables_detail'>
  <div class='col-sm-6'>
    <div class='panel panel-default'>
      <div class='panel-heading bold'>
        <span class='glyphicon glyphicon-asterisk'></span> &nbsp;
        Table &laquo; {{alias}} &raquo;
      </div>
      <ul class='list-group'>
        {{#each places}}
          {{>couloir_tables_order}}
        {{else}}
          <li class='list-group-item text-muted font-sm'>Aucune commande &agrave; distribuer</li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
