<template name='couloir_tables_bacs_item'>
  <li class='list-group-item'>
    <div class='row'>
      <div class='col-xs-6 font-xxl bold'>
        {{#if table}}
          {{table}} - {{place}}
        {{else}}
          <span class='glyphicon glyphicon-warning-sign text-warning margin-right-sm'></span>
          En attente
        {{/if}}
      </div>
      <div class='col-xs-6 text-right font-xxxl bold'>
        {{number}}
      </div>
    </div>
  </li>
</template>
