<template name='button_standard'>
  <button class='btn btn-default btn-lg btn-block {{classes}}'>
    {{#if icon}}
      <span class='glyphicon glyphicon-{{icon}} margin-right-sm'></span>
    {{/if}} 
    {{text}}
  </button>
</template>
