<template name='couloir_bacs_item'>
	<li class='list-group-item' style='{{#if selected}}background : #dff0d8;{{/if}}'>
		<div class='row vertically-centered-row'>
			<div class='{{#if nondispatch}}col-xs-8{{else}}col-xs-12{{/if}} text-center'>
				<div class='number-container bold font-xxxxl pointer'>
					{{number}}
				</div>
			</div>
			{{#if nondispatch}}
				<div class='col-xs-4 text-center'>
					<ul class='minimal-list nondispatch-list pointer'>
						{{#each nondispatch}}
							<li class='margin-bottom-xs font-xs'>
								{{product_name}} <span class='badge'>{{quantity}}</span>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>
	</li>
</template>
