<template name='couloir_bacs'>

  <div class='row margin-bottom-sm'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        {{#each bacs}}
          {{>couloir_bacs_item}}
        {{else}}
          <li class='list-group-item text-center text-muted font-lg italic'>
            En attente de bacs...
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{#if showValidate}}
    <div class='row margin-bottom-lg'>
      <div class='col-xs-12'>
        <button class='btn btn-lg btn-block btn-primary validate-pickup'>
            Livrer les bacs <span class='glyphicon glyphicon-arrow-right margin-left-sm'></span>
        </button>
      </div>
    </div>
  {{/if}}

</template>
