<template name='order_basic_info'>
  {{#if order.firstname}}
    <div class='row'>
        <div class='col-xs-12'>
            <span class='glyphicon glyphicon-user'></span> &nbsp;
            <span class='uppercase'>{{order.lastname}}</span>
            {{order.firstname}}
        </div>
    </div>
  {{/if}}
  {{#if order.email}}
    <div class='row'>
        <div class='col-xs-12'>
          <span class='glyphicon glyphicon-envelope margin-right-xs'></span>
          {{#if order.email}}
            {{order.email}}
          {{else}}
            <span class='text-muted italic'>inconnu</span>
          {{/if}}
        </div>
    </div>
  {{/if}}
  <div class='row'>
      <div class='col-xs-12'>
          <span class='glyphicon glyphicon-phone-alt margin-right-xs'></span>
          {{#if order.telephone}}
            {{order.telephone}}
          {{else}}
            <span class='text-muted italic'>inconnu</span>
          {{/if}}
      </div>
  </div>
  <div class='row margin-bottom-md'>
      <div class='col-xs-12'>
          <span class='glyphicon glyphicon-home'></span> &nbsp;
          {{order.getContext}}
      </div>
  </div>
</template>
