<template name='order_bacs_view'>
  <div class='text-center'>
    {{#each order.getBacNumbers 0 }}
      <span class='bold font-xxxl' style='color : #337ab7;'>{{this}}</span> &nbsp;
    {{/each}}
  </div>
  <div class='text-center'>
    {{#each order.getBacNumbers 1 }}
      <span class='bold font-xxxl' style='color : #5cb85c;'>{{this}}</span> &nbsp;
    {{/each}}
  </div>
</template>
