<template name='order_products_header'>
  <div class='clearfix' style='padding : 5px 10px; border : 1px solid #ddd; border-radius : 5px; background: #f9f9f9;'>
      <div class='row'>
          <div class='col-xs-5'>
              <span
                class='font-xl bold'
                style='line-height : 40px;'
              >
                Produits
              </span>
          </div>
          <div class='col-xs-2 font-xxl text-center'>
              {{order.getUnitsTotal}}
          </div>
          <div class='col-xs-5 bold font-xxl text-right'>
              {{#if order.hasPaid}}
                <span class='glyphicon glyphicon-ok-sign' style='color : green;'></span> &nbsp;
              {{else}}
                <span class='glyphicon glyphicon-flag' style='color : red;'></span> &nbsp;
              {{/if}}
              <span class='amount-total-display pointer'>
                {{formatMoney order.amount_total}}
              </span>
          </div>
      </div>
  </div>
</template>
