<template name='order_consumercreditevent_modal'>
    <div class="modal fade" id='order_consumercreditevent_modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='adjustment'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Ajustement <span class='uppercase'>
													{{order.lastname}}</span> {{order.firstname}}
												</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class='row margin-top-lg margin-bottom-lg'>
                            <div class='col-xs-12 text-center'>
                                <div class='row margin-bottom-lg'>
                                    <div class='col-xs-12'>
																			<select class='input-lg form-control' id='event_type'>
																				<option disabled selected>Choisir un type</option>
																				{{#each eventTypes}}
																					<option value='{{_id._str}}'>
																						{{name}}
																					</option>
																				{{/each}}
																			</select>
                                    </div>
                                </div>
																{{#if selectedType}}
																	<div class='row margin-bottom-xl'>
																		<div class='col-xs-12 text-center'>
																			Montant donn&eacute;<br/>
																			<div class='input-group margin-top-sm' style='max-width : 220px; margin : 0 auto;'>
																				<input class='form-control input-lg text-center font-xxl' id='event_amount' autofocus autocomplete='off' />
																				<span class='input-group-addon'>&euro;</span>
																			</div>
																		</div>
																	</div>
																	<div class='row margin-bottom-xl'>
																		<div class='col-xs-12'>
																			<button class="btn btn-primary btn-block btn-lg validate" disabled='{{#unless allowValidate}}disabled{{/unless}}'>
												      	  			<span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
												      	  		</button>
																		</div>
																	</div>
																{{/if}}
                            </div>
                        </div>
                    </div>
										<!-- end of body -->
                    <div class='modal-footer clearfix'>
                        <button type='submit' class="btn btn-primary btn-block btn-lg validate" disabled='{{#unless allowValidate}}disabled{{/unless}}'>
                            <span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
