<template name='order_list_item'>
    <tr 
        class=' {{#if $eq key "added-items"}}added success{{/if}}
                {{#if $eq key "removed"}}removed active{{/if}}
                {{#if $eq key "reduced"}}reduced warning{{/if}}
                {{#if $eq key "added-reduced"}}reduced warning{{/if}} 
                cursor'>
                
        <td class='vertical-center'>
            {{producer_name}}
        </td>
        <td class='vertical-center'>
            {{product_name}}
        </td>
        <td align='center' class='hidden-xs hidden-sm vertical-center'>
            <span class='nowrap'>{{formatMoney unitPrice}}</span>
        </td>
        <td align='center' class='hidden-xs hidden-sm vertical-center'>
            {{unit_display}}
        </td>
        <td align='center' class='vertical-center quantity-cell {{#if params.allowUpdate}}pointer{{/if}}' style='width : 60px;'>
            {{quantity}}
        </td>
        <td align='center' class='vertical-center'>
            <span class='bold font-md {{#if reducedPrice}}price-reduced{{/if}}' style='white-space : nowrap;'>
                {{formatMoney totalValue}}
            </span>
            {{#if reducedPrice}}
                <br/>
                <span class='bold font-md'>{{formatMoney reducedPrice}}</span>
                <br/>
                <span class='badge'>-{{reducedPercentage}}%</span>
            {{/if}}
        </td>
    </tr>
</template>
