<template name='order_add_product_modal'>
	<div class="modal fade" id='order_add_product_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      	  	<div class="modal-body clearfix">
      	  			<div class='form-group row margin-bottom-lg margin-top-lg'>
      	  				<div class='col-xs-12'>
	      	  				<div class='form-group'>
								<input class='form-control input-lg' id='producerproduct_id' placeholder='Produit à ajouter'>
								{{#if suggestions}}
									<ul class='list-group'>
										{{#each suggestions}}
											<li class='list-group-item pointer hover-shadow producerproduct-list-item' data-producerproduct="{{_id._str}}">
												{{product_name}} ({{producer_name}})
											</li>
										{{/each}}
									</ul>
								{{/if}}
							</div>
	      	  			</div>
      	  			</div>
      	  			{{#if selectedProduct}}
      	  				{{#if selectedProductDetails}}
		      	  			<div class='form-group row margin-top-lg'>
				      	  		<div class='col-xs-6 text-center'>
				      	  			<label class='control-label'>Unit&eacute; de vente</label>
				      	  			<div style='width : 100%' class='margin-top-sm'>
				      	  				<span class='font-md'>{{selectedProductDetails.unit_display}}</span>
				      	  			</div>
				      	  		</div>
				      	  		<div class='col-xs-6 text-center'>
			      	  				<label class='control-label'>Quantit&eacute;</label>
			      	  				<div class="input-group" style='max-width : 120px; margin : 0 auto;'>
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default add-product-quantity-less">-</button>
		                                </span>
		                                <input type="text" id='add_product_quantity' class="form-control text-center" value={{quantity}}>
		                                <span class="input-group-btn">
		                                    <button class="btn btn-default add-product-quantity-more">+</button>
		                                </span>
		                            </div>
				      	  		</div>
				      	  	</div>
		      	  			<div class='form-group row margin-bottom-xxl'>
			      	  			<div class='col-xs-6 text-center'>
			      	  				<label class='control-label'>Prix unitaire</label>
			      	  				<div style='width : 100%' class='margin-top-sm'>
				      	  				<span class='font-md'>{{formatMoney unitPrice}}</span>
				      	  			</div>
				      	  		</div>
				      	  		<div class='col-xs-6 text-center'>
			      	  				<label class='control-label'>Valeur total</label><br/>
		      	  					<span class='font-xl bold'>{{formatMoney totalValue}}</span>
				      	  		</div>
				      	  	</div>
				      	  	{{#if selectedProductDetails}}{{#if $gt totalValue 0}}
				      	  		<div class='row'>
				      	  			<div class='col-xs-12'>
			        					<button type="button" class="btn btn-primary btn-block btn-lg validate">Valider</button>
			        				</div>
			        			</div>
			        		{{/if}}{{/if}}
				      	{{else}}
				      		Chargement...
				      	{{/if}}
			      	{{/if}}
	      	  	</div>
	    	</div>
	  	</div>
	</div>
</template>