<template name='order_controls'>
	<div class='row'>
		<div class='col-xs-6'>
			{{>button_standard
				classes='add-product'
				icon='plus'
				text='Ajouter un produit'
			}}
	   </div>
    <div class='col-xs-6'>
      {{#if order.allowValidation}}
				{{>button_standard
					classes='verify-order pull-right'
					icon='ok'
					text='Vérifier'
				}}
				{{>button_standard
					classes='send-verification-email pull-right'
					icon='envelope'
					text='Envoyer mail de vérification'
				}}
			{{/if}}
			{{#if order.allowPayment params.showPayment}}
				{{>button_standard
					classes='accept-payment btn-primary pull-right'
					icon='euro'
					text='Regler la commande'
				}}
			{{/if}}
		</div>
	</div>
</template>
