<template name='order_list'>
  	<table class='table table-bordered order-items-table margin-bottom-none'>
    	<thead>
			<tr>
				<th>
					Producteur
				</th>
				<th>
					Produit
				</th>
				<th style='text-align : center;' class='hidden-xs hidden-sm'>
					Prix
				</th>
				<th style='text-align : center;' class='hidden-xs hidden-sm'>
					Unit&eacute;
				</th>
				<th style='text-align : center; width : 40px;' >
					Qt&eacute;
				</th>
				<th style='text-align : center; width : 100px;'>
					Valeur
        		</th>
      		</tr>
    	</thead>
		<tbody>
			{{#each orderItems}}
				{{> order_list_item}}
			{{/each}}
			{{#if reducedItems}}
				<tr style='background : #efefef;'>
					<td colspan='6' class='bold'>Remis&eacute;s</td>
				</tr>
				{{#each reducedItems}}
					{{> order_list_item}}
				{{/each}}
			{{/if}}
			{{#if removedItems}}
				<tr style='background : #efefef;'>
					<td colspan='6' class='bold'>Enlev&eacute;s</td>
				</tr>
				{{#each removedItems}}
					{{> order_list_item}}
				{{/each}}
			{{/if}}
			{{#if addedItems}}
				<tr style='background : #efefef;'>
					<td colspan='6' class='bold'>Ajout&eacute;s</td>
				</tr>
				{{#each addedItems}}
					{{> order_list_item}}
				{{/each}}
			{{/if}}
			{{#if addedReducedItems}}
				<tr style='background : #efefef;'>
					<td colspan='6' class='bold'>Ajout&eacute;s-remis&eacute;s</td>
				</tr>
				{{#each addedReducedItems}}
					{{> order_list_item}}
				{{/each}}
			{{/if}}
		</tbody>
  	</table>
</template>