<template name='order'>

    <!--
	*	****************
	*	HEADER/BASE INFO
	*	****************
	-->

    <div class='row margin-top-sm margin-bottom-lg'>
        <div class='col-xs-6 font-lg'>
            {{>order_basic_info order=order}}
        </div>
        <div class='col-xs-6 font-lg text-right'>
          {{#if order.hasStatus}}
            <div class='row margin-bottom-md'>
                <div class='col-xs-12'>
                    {{>order_status order=order}}
                </div>
            </div>
          {{/if}}
          <div class='row margin-bottom-sm hidden-xs'>
              <div class='col-xs-12'>
                  {{>order_events order=order}}
              </div>
          </div>
        </div>
    </div>

    <!--
	*	*********
	*	BACS INFO
	*	*********
	-->

    {{#if params.showBacs}}
	    <div class='row margin-bottom-xxl'>
	        <div class='col-xs-12 col-sm-6'>
							{{>order_bacs_view order=order}}
	        </div>
	    </div>
    {{/if}}

    <!--
	*	***************
	*	PRODUCTS HEADER
	*	***************
	-->

    <div class='row margin-bottom-lg'>
        <div class='col-xs-12'>
            {{>order_products_header order=order}}
        </div>
    </div>

    <!--
	*	***************************
	*	ORDER VERIFICATION CONTROLS
	*	***************************
	-->

    {{#if showControls}}
			{{>order_controls
				order=order
				params=params
			}}
		{{/if}}

    <!--
	*	*************
	*	PRODUCTS LIST
	*	*************
	-->

    <div class='row margin-bottom-xl'>
        <div class='col-xs-12'>
            {{>order_list
							order=order
							params=params
						}}
        </div>
    </div>

    <!--
	*	*************
	*	CREDITS
	*	*************
	-->
    {{#if consumerCredits}}
      <div class='row'>
          <div class='col-xs-12'>
              {{>order_credits_view order=order}}
          </div>
      </div>
    {{/if}}

    <!--
	*	*******************************
	*	PAYMENT MENU / NONDISPATCH LIST
	*	*******************************
	-->

    {{#if order.hasNondispatch}}
	    <div class='row'>
	        <div class='col-xs-6'>
	            <div class='bold'>Non-dispatch</div>
	            <ul class='minimal-list'>
	                {{#each order.getNondispatch}}
	                	<li>
											{{product_name}} / {{producer_name}}
											{{#if $gt quantity 1}}
												<span class='badge'>{{quantity}}</span>
											{{/if}}
										</li>
	                {{/each}}
	            </ul>
	        </div>
	    </div>
    {{/if}}

    <!--
	*	***********
	*	REMOVE MENU
	*	***********
	-->

		{{#if order.allowRemove params.allowRemove}}
			{{>order_remove order=order params=params}}
		{{/if}}

</template>
