<template name='order_payment_modal'>
	<div class="modal fade" id='order_payment_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	    		<form id='payment'>
		    		<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        			<h4 class="modal-title">Reglement <span class='uppercase'>{{order.lastname}}</span> {{order.firstname}}</h4>
	     			</div>
		      	  	<div class="modal-body clearfix">
		      	  		<div class='row margin-top-lg margin-bottom-lg'>
		      	  			<div class='col-xs-12 text-center'>
		      	  				Montant<br/>
		      	  				<span class='font-xxl bold'>{{formatMoney amountTotal}}</span>
		      	  			</div>
		      	  		</div>
		      	  		<div class='row margin-top-lg margin-bottom-lg'>
		      	  			<div class='col-xs-12 text-center'>
		      	  				
	      	  					<div class='row margin-bottom-xl'>
	      	  						<div class='col-xs-12'>
		      	  						<div class="btn-group btn-group-lg" data-toggle="buttons" style='width : 100%;'>
	  										<label class="btn btn-default" style='display: table-cell;float: none;width: 1%;'>
	    										<input type="radio" name='type' value='1' autocomplete="off"> Esp&egrave;ces
	  										</label>
	  										<label class="btn btn-default" style='display: table-cell;float: none;width: 1%;'>
	    										<input type="radio" name='type' value='2' autocomplete="off"> Ch&egrave;que
	  										</label>
										</div>
									</div>
	      	  					</div>

	      	  					{{#if $eq paymentType 1}}

	      	  						<div class='row margin-bottom-xl'>
					      	  			<div class='col-xs-12 text-center'>
					      	  				Montant donn&eacute;<br/>
					      	  				<div class='input-group margin-top-sm' style='max-width : 220px; margin : 0 auto;'>
					      	  					<input class='form-control input-lg text-center font-xxl' id='consumer_paid' autofocus autocomplete='off' />
					      	  					<span class='input-group-addon'>&euro;</span>
					      	  				</div>
					      	  			</div>
					      	  		</div>
					      	  		<div class='row margin-bottom-xl'>
					      	  			<div class='col-xs-12 text-center'>
					      	  				Monnaie &agrave; rendre<br/>
					      	  				<span class='font-xxl bold'>{{formatMoney change}}</span>
					      	  			</div>
					      	  		</div>

	      	  					{{/if}}
		      	  			</div>
		      	  		</div>
		      	  	</div>
		      	  	<div class='modal-footer clearfix'>
		      	  		<button type='submit' class="btn btn-primary btn-block btn-lg validate" disabled='{{#unless allowValidate}}disabled{{/unless}}'>
		      	  			<span class='glyphicon glyphicon-ok'></span> &nbsp; Valider
		      	  		</button>
		      	  	</div>
	      	  	</form>
	    	</div>
	  	</div>
	</div>
</template>