<template name='order_list_item_edit_modal'>
	<div class="modal fade" id='order_list_item_edit_modal'>
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      	  	<div class="modal-body clearfix">
	      	  		{{#if selectAction}}
		      	  		<div class='row margin-top-xxl margin-bottom-xxl'>
							<div class='col-xs-12'>
								<div class="btn-group btn-group-justified btn-group-lg" data-toggle="buttons">
								  	<label class="btn btn-default active">
								    	<input type="radio" class="action" id="remove" autocomplete="off" selected> {{removeTitle}}
								  	</label>
								  	{{#if $gt order.status 2}}
									  	<label class="btn btn-primary">
									    	<input type="radio" class="action" id="reduce" autocomplete="off"> Reduction
									  	</label>
									{{/if}}
								</div>
							</div>
						</div>
					{{/if}}
					{{#if selectQuantity}}
						<div class='row margin-bottom-xxl'>
							<div class='col-xs-6 {{#if $eq action "remove"}}col-xs-offset-3{{/if}}'>
								<div class='form-group'>
									<label class='control-label'>Unit&eacute;s</label>
									<select class='form-control input-lg' id='units'>
										{{#if $eq order.status 1}}
											<option value='0'>0</option>
										{{/if}}
										<option value='1' selected='selected'>1</option>
										{{#each units}}
											<option value='{{this}}'>{{this}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							{{#if selectReduction}}
								<div class='col-xs-6'>
									<div class='form-group'>
										<label class='control-label'>Reduction</label>
										<select class='form-control input-lg' id='percentage'>
											<option selected disabled></option>
											<option value='10'>10 %</option>
											<option value='25'>25 %</option>
											<option value='50' selected='selected'>50 %</option>
											<option value='100'>100 %</option>
										</select>
									</div>
								</div>
							{{/if}}
						</div>
					{{/if}}
	      	  		{{#if showValidation}}
	      	  			<div class='row margin-top-xl margin-bottom-xl'>
	      	  				<div class='col-xs-12'>
	      	  					<button class='btn btn-primary btn-block btn-lg validate'>
	      	  						<span class='glyphicon glyphicon-ok'></span> &nbsp; {{validateTitle}}
	      	  					</button>
	      	  				</div>
	      	  			</div>
	      	  		{{/if}}
      	  		</div>
	    	</div>
	  	</div>
	</div>
</template>