<template name='order_special_items_modal'>
	<div class="modal fade" id='order_special_items_modal'>
  	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
				<div class='modal-header'>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span class='text-primary font-xl bold'>
						{{uppercase lastname}} {{firstname}}
					</span>
				</div>
				<div class="modal-body clearfix">
					<!-- NONDISPATCH -->
					<div class='row margin-bottom-sm'>
						<div class='col-xs-12'>
							<div class='panel panel-default'>
								<div class='panel-heading bold'>
									Non-dispatch
								</div>
								{{#if nondispatch.length}}
									<table class='table table-bordered'>
										<thead>
											<tr>
												<th>Produit</th>
												<th>Producteur</th>
												<th>Quantit&eacute;</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{{#each nondispatch}}
												<tr class='font-md'>
													<td>{{product_name}}</td>
													<td>{{producer_name}}</td>
													<td class='text-center'>{{quantity}}</td>
													<td>{{location}}</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								{{else}}
									<div class='panel-body'>
										<span class='italic text-muted'>Aucun nondispatch</span>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
					<!-- REMOVED -->
					<div class='row margin-bottom-sm'>
						<div class='col-xs-12'>
							<div class='panel panel-default'>
								<div class='panel-heading bold'>
									Produits manquants
								</div>
								{{#if removed.length}}
									<table class='table table-bordered'>
										<thead>
											<tr>
												<th>Produit</th>
												<th>Producteur</th>
												<th>Quantit&eacute;</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{{#each removed}}
												<tr class='font-md'>
													<td>{{product_name}}</td>
													<td>{{producer_name}}</td>
													<td class='text-center'>{{quantity}}</td>
													<td></td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								{{else}}
									<div class='panel-body'>
										<span class='italic text-muted'>Aucun produits manquants</span>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
					<!-- REDUCED -->
					<div class='row margin-bottom-sm'>
						<div class='col-xs-12'>
							<div class='panel panel-default'>
								<div class='panel-heading bold'>
									Produits remis&eacute;s
								</div>
								{{#if reduced.length}}
									<table class='table table-bordered'>
										<thead>
											<tr>
												<th>Produit</th>
												<th>Producteur</th>
												<th>Quantit&eacute;</th>
												<th>Pourcentage</th>
											</tr>
										</thead>
										<tbody>
											{{#each reduced}}
												<tr class='font-md'>
													<td>{{product_name}}</td>
													<td>{{producer_name}}</td>
													<td class='text-center'>{{quantity}}</td>
													<td>{{percentage}}</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								{{else}}
									<div class='panel-body'>
										<span class='italic text-muted'>Aucun produit remis&eacute;</span>
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
      </div>
  	</div>
	</div>
</template>
