<template name='order_events'>
  <div class='panel panel-default'>
    <div class='panel-heading'>

    </div>
    <table class='table table-bordered table-compact'>
      <tbody>
        {{#each order.getEvents}}
          <tr>
            <td>{{name}}</td>
            <td>{{formatDate date "YYYY-MM-DD HH:mm"}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
